/*전체적용*/
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  text-decoration-line: none;
  margin: 0px;
  padding: 0px;
  width: auto;
  font-family: "GangwonEdu_OTFBoldA";
}

/*레이아웃*/
nav {
  font-family: "Gugi", cursive;
  list-style-type: none;
  text-decoration-line: none;
  color: white;
  background-color: #887fcd;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 15px;
  top: 0;
  position: sticky;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
nav a:hover {
  background-color: #fcfcd4;
  color: #887fcd;
}

nav > ul {
  display: flex;
  list-style: none;
}

header {
  background-color: #e6f4f1;
}
header > section {
  display: flex;
  align-items: center;
}

.header_left,
.header_right {
  margin: 15px;
}

.header_left {
  width: 30%;
  text-align: center;
  font-size: 26px;
}

.header_right {
  width: 70%;
  font-size: 21px;
}

main {
  background-color: #fcfcd4;
  display: flex;
  font-size: 18px;
}
main > section {
  width: 25%;
  margin: 20px;
  text-align: center;
}

img {
  border-radius: 30%;
}

footer {
  padding-top: 1vh;
  display: flex;
  background-color: #887fcd;
  color: black;
  justify-content: space-between;
  bottom: 0;
  position: sticky;
}

footer > ul {
  font-size: 15px;
  padding-left: 30px;
  width: 85%;
}
footer > p {
  text-align: center;
  padding: 7px;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  header {
    text-align: center;
  }
  .header_left {
    align-items: center;
  }

  header > section {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  main {
    flex-direction: column;
    align-items: center;
  }
  footer > ul {
    display: none;
  }
}
